
@{
    ViewData["Title"] = "GetStock";
}

<h1>GetStock</h1>

<div id="container" class="container"></div>

@section Scripts
       {
    <script src="@Url.Content("~/js/StockChart.js")" type="text/javascript"></script>
}
