
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*@using (Html.BeginForm("FindStock", "Stock"))
    {
        <p>
            Search  : @Html.TextBox("stockSymbol")<br />
            <input type="submit" value="Search" />
        </p>
    }*@

@*<button class="btn btn-info" type="button" id="addressSearch"
    onclick="location.href='@Url.Action("FindStock", "Stock")'"/>*@

<div id="container-fluid" class="container-fluid"></div>


<div id="container" class="container"></div>

@section Scripts
       {
    <script src="@Url.Content("~/js/StockChart.js")" type="text/javascript"></script>
}

