
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row" id="searchContent">
    <div class="col-12">
        <input id="stockSymbol" name="stockSymbol" type="text" />
        <input id="stockSearchBtn" type="submit" class="btn btn-info" />
    </div>
</div>

<div id="chartPartialView"></div>

@section Scripts
       {
    <script src="@Url.Content("~/js/StockChart.js")" type="text/javascript"></script>
}

