@page "/"

@inject IHttpClientFactory _clientFactory

@if (stockNews is null)
{
    <div class="h4">Loading...</div>
}
else
{

}

@code{

    List<StockModel> stockNews;
    string errorString;

    protected override async Task OnInitializedAsync()
    {
        
    }
}