@page "/"

@using StockTracker.Data

@inject IHttpClientFactory _clientFactory
@inject StockService _stockService

@if (stockNews is null)
{
    <div class="h4">Loading...</div>
}
else
{
    <h3>News</h3>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Headline</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in stockNews)
            {
                <tr>
                    <td>@stock.Headline</td>
                    <td>@stock.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{

    List<StockModel> stockNews;
    string errorString;

    protected override async Task OnInitializedAsync()
    {
        stockNews = await _stockService.GetTodaysNews();
    }
}