@page "/stock/{Symbol}"

@using Newtonsoft.Json
@using StockTracker.Data

@inject IHttpClientFactory _clientFactory
@inject NavigationManager NavManager
@inject StockService _stockService

<h3>@Symbol</h3>

@code {
    [Parameter]
    public string Symbol { get; set; }

    private Theme Theme { get; set; }
    public string Width { get; set; } = "60%";
    private StockModel[] ChartPoints { get; set; } = new StockModel[] { };
    string errorString;

    protected override async Task OnInitializedAsync()
    {
        ChartPoints = await _stockService.GetSymbolChart(Symbol);
    }
}
