@inherits LayoutComponentBase

    <div class="main">
        <NavMenu />

        <div class="content px-4">
            @Body
        </div>
        <div class="footer">
            <i class="fa-regular fa-copyright">Stock Tracker @year</i>
        </div>
    </div>

@code{
    string year = DateTime.Now.Year.ToString();
}